body{
    font-family:'Cabin', sans-serif;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.appContainer {
    border: solid 5px red;
    width: 99%;
    height:100vh;
}
.mainContainer {
    border: solid 5px rgb(52, 55, 56);
    width: 98%;
    height:90vh;
    padding: 1rem;

    .monthContainer {
    border: solid 3px rgb(255, 145, 0);
    width: 97%;
    height:82vh;
    padding: 1rem;
    }
}

.weekContainer {
    border: solid 3px rgb(255, 0, 217);
    width: 95%;
    height:73vh;
    padding: 1rem;
}

.dayContainer{
    border: solid 2px rgb(13, 21, 1);
    width: 92%;
    height:65vh;
    padding: 1rem;

    .weatherContainer {
        border: solid 1px rgb(37, 86, 163);
        width: 88%;
        height:27vh;
        padding: 1rem;
    }

    .tasksContainer {
        border: solid 1px rgb(142, 37, 163);
        width: 88%;
        height:28vh;
        padding: 1rem;
    }
}

.weatherData {
height: 28vh;
width: 20rem;
border: solid 1px orange;
}

.weatherText {
    font-weight: 700;
    font-size: 1.2rem;
}




