body{
    height: 130vh;
    font-family:'Nunito', sans-serif;
    background-image: linear-gradient(to right top, #da68a9, #b361a4, #ba83ca, #927eb6, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #5dc2d7, #46eefa, #b1e4e0);
}
.appContainer {
    padding: 2rem;
 
}
.mainContainer {
   

    .monthContainer {

    }
}

.weekContainer {
  

.dayContainer{
  
   margin-right: 50px;

    .weatherContainer {
       margin-bottom: 4rem;
     
    }

    .tasksContainer {
      
    }
}
}

.weatherData {

}

.weatherText {
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(83, 12, 83);
}

// #cat {
//     border-radius: 50%;
//     width: 50%;
//     height: 50%;
// }

#cat {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

input {
    line-height: 1.7rem;
    border-radius: 15px;
    width: 10rem;
}

button {
    line-height: 1.3rem;
    border-radius: 15px;
    width: 5rem;
    outline: none;
    margin-bottom: 1rem;
    background-color: #ba83ca;
}

